/*
created by
TheSmallHanCat
Koyuki
用于文件目录美化以及背景图
*/

body{
	background-image:url('http://ld.frp.one:27777');//将此处替换为你自己的背景图api地址
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

	@keyframes gradientBG {
	    0% {
		background-position: 0% 50%;
		}

		50% {
		background-position: 100% 50%;
		}

		100% {
		background-position: 0% 50%;
		}
	}
.fish-container {
				margin: 0;
				padding: 0;
				background-color: transparent;
				width: 100%;
				height: 200px;
				z-index: -1;
				position: fixed;
				bottom: 0;
				left: 0;
				opacity: .5;
			}


.hope-c-PJLV-igScBhH-css{
    background-color: rgba(255, 255, 255, .8) !important;
    justify-content: center;
}
.hope-c-PJLV-ijgzmFG-css{
    opacity: .8; !important
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iigjoxS-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikEIIxw-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-iiuDLME-css{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.hope-c-PJLV-ikSuVsl-css
{
    opacity: .7;
    justify-content: center;
    backdrop-filter: blur(5px);
}

    .hope-c-PJLV-ikaMhsQ-css{
    --hope-colors-background: #ffffff00;}
    .hope-c-PJLV-idaeksS-css{
    opacity: .6;
    backdrop-filter: blur(10px);
    border-radius: 7px;
    }
.hope-c-PJLV-ifiEvmt-css{
    opacity: .7;
    backdrop-filter: blur(8px);
}
.hope-c-PJLV-iSMXDf-css{
    opacity: .9;
}
.sw-Hennnyano {
    width: 224px;
    height: 224px;
    position: fixed;
    left: 0;
    z-index: 100;
    pointer-events: auto!important;
    -webkit-transition: bottom 1.3s cubic-bezier(0,2.06,.56,.78);
    transition: bottom 1.3s cubic-bezier(0,2.06,.56,.78);
    bottom: -230px
}
@media print,screen and (max-width: 1024px) {
    .sw-Hennnyano {
        width:25.26042vw;
        height: 25.26042vw;
        bottom: -25.26042vw
    }
}

.sw-Hennnyano.show {
    bottom: -60px
}
@media print,screen and (max-width: 1024px) {
    .sw-Hennnyano.show {
        bottom:-6.25vw
    }
}

.sw-Hennnyano .body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(https://file.notion.so/f/f/26c3bb49-2dc4-4ab8-8965-b222c5c8b716/c5924aec-84f6-4c53-959c-9257d13babf7/img_hennyano_body.png?table=block&id=18c34405-dce4-8056-9690-f47f6bc8028d&spaceId=26c3bb49-2dc4-4ab8-8965-b222c5c8b716&expirationTimestamp=1738339200000&signature=MjpvXT77n49Lo8IuNYLdqmxNjjrhBK0ppj8Kk2XFvT8&downloadName=img_hennyano_body.png) left bottom/contain no-repeat
}
.sw-Hennnyano .eyes {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(https://file.notion.so/f/f/26c3bb49-2dc4-4ab8-8965-b222c5c8b716/33a3d9b1-aa0e-45f8-a098-1b709a25a9db/img_hennyano_eyes.png?table=block&id=18c34405-dce4-80eb-bc7c-e4d8dd822243&spaceId=26c3bb49-2dc4-4ab8-8965-b222c5c8b716&expirationTimestamp=1738339200000&signature=DX9r62CtjTUEEhTsU2STLavRaWtWrm-fQZjMGJRELtU&downloadName=img_hennyano_eyes.png) left bottom/contain no-repeat
}

@media(any-hover: hover) {
    .sw-Hennnyano:hover {
        cursor:pointer!important
    }
}
